/* GENERAL */ /* #region */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  background-image: url("./assets/background3.jpg");
}

/* #endregion */

/* HEADER */ /* #region */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 400px;
  margin-bottom: 20px;
}

header ul {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

header li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #39ff14;
  -webkit-text-stroke: 1px darkgreen;
  text-shadow: 0px 0px 3px #aaffaa;
}

header li:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 15px #aaffaa;
}

@media screen and (max-width: 768px) {
  .header-img {
    width: 300px;
  }
}

/* #endregion */

/* CHARACTERS */ /* #region */
.char-gallery {
  width: 100%;
  color: white;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-gallery h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 75px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 6px;
  color: #39ff14;
  -webkit-text-stroke: 0.5px darkgreen;
  text-shadow: 0px 0px 7px #aaffaa;
}

.search-bar {
  width: 250px;
  margin-bottom: 20px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #39ff1410;
  border-bottom: 1px solid #39ff14;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #eee;
}

.char-gallery-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char-card {
  width: 200px;
  height: 230px;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.char-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  margin-bottom: 7px;
}

.char-img-container:hover::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    50deg,
    transparent,
    transparent,
    #39ff14,
    #395514,
    #395514,
    #39ff14,
    transparent,
    #39ff14,
    transparent,
    #39ff14,
    #395514,
    #395514,
    #39ff14,
    transparent,
    transparent
  );
  filter: blur(5px);
  width: 105%;
  height: 105%;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
  animation: portal 3s linear infinite;
}
.char-img-container:hover::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    50deg,
    transparent,
    transparent,
    #39ff14,
    #395514,
    #39ff14,
    #395514,
    #39ff14,
    #395514,
    #39ff14,
    #395514,
    #39ff14,
    transparent,
    transparent
  );
  filter: blur(15px);
  width: 108%;
  height: 108%;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  opacity: 0.9;
  z-index: -1;
  animation: portal 3s linear infinite;
}

@keyframes portal {
  from {
    background-position: 0px;
  }
  to {
    background-position: -210px;
  }
}

.char-img-container:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.char-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.char-card h2 {
  line-height: 1;
  text-align: center;
  font-size: 20px;
  color: greenyellow;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 768px) {
  .char-gallery {
    padding: 0 10px;
  }

  .char-gallery h1 {
    font-size: 50px;
    padding: 10px 0;
  }

  .char-card {
    width: 120px;
    height: 130px;
    margin: 25px 15px;
  }

  .char-img-container {
    margin-bottom: 4px;
  }

  .char-card h2 {
    font-size: 15px;
  }
}

/* #endregion */

/* MODAL */ /* #region */
.char-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.88);
  backdrop-filter: blur(3px);
  opacity: 0;
}

.modal-open {
  opacity: 1;
}

.char-modal-box {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.char-modal-img {
  max-width: 350px;
  margin: 0 20px;
  border-radius: 15px;
}

.char-modal-info {
  max-width: 400px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.char-modal-info h2 {
  color: #39ff14;
  font-size: 30px;
  text-shadow: 0 0 20px #aaff99;
  -webkit-text-stroke: 1px #395514;
}

.char-modal-info th {
  min-width: 100px;
  text-align: left;
  font-size: 19px;
}
.char-modal-info td {
  text-align: left;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .char-modal-box {
    flex-direction: column;
    align-items: center;
  }

  .char-modal-img {
    max-width: 80%;
    margin: 0 10px;
  }

  .char-modal-info {
    margin: 0 14px;
    justify-content: center;
    align-items: center;
  }

  .char-modal-info h2 {
    text-align: center;
    font-size: 26px;
  }

  .char-modal-info th {
    font-size: 18px;
  }
  .char-modal-info td {
    font-size: 17px;
  }
}

/* #endregion */

/* EPISODES */ /* #region */
.episode-list {
  color: white;
  padding: 0 20px;
}

.episode-list h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 55px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 4px;
  color: #39ff14;
  -webkit-text-stroke: 0.5px darkgreen;
  text-shadow: 0px 0px 7px #aaffaa;
}

.episode-card {
  width: 100%;
  height: 40px;
  max-width: 800px;
  margin: 15px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #39ff14;
  background-color: #ddffdd;
  color: #111;
  cursor: pointer;
}

.episode-card:hover {
  background-color: #aaffaa;
  box-shadow: 0 0 15px #39ff14;
}

.episode-card p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.episode-card p:nth-child(3) {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .episode-list {
    padding: 0 15px;
  }

  .episode-list h1 {
    font-size: 50px;
    padding: 5px 0;
  }

  .episode-card {
    height: 55px;
    padding: 0 5px;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .episode-card:hover {
    background-color: #aaffaa;
    box-shadow: 0 0 15px #39ff14;
  }

  .episode-card p {
    font-size: 16px;
  }

  .episode-card p:nth-child(1) {
    font-size: 16px;
  }

  .episode-card p:nth-child(3) {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .episode-card p {
    font-size: 14px;
  }

  .episode-card p:nth-child(1) {
    font-size: 12px;
  }

  .episode-card p:nth-child(3) {
    font-size: 12px;
  }
}

/* #endregion */

/* end */
